<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Home View</h2>
    <h3>Create Task</h3>
    <form method="POST">
        {%csrf_token%}
        <input type="text" name="task_name" placeholder="task name"><br><br>
        <input type="text" name="task_description" placeholder="description"><br><br>
        <input type="text" name="task_category" placeholder="category"><br><br>
        <button type="submit">Create</button>
    </form>
    <h3>Tasks</h3>
    {%for task in tasks%}
        <p><strong>Task name: </strong><a href="{% url 'task_view' task.id %}">{{task.name}}</a></p>
        <p><strong>Description</strong></p>
        <p>{{task.description}}</p>
        <p><strong>Category: </strong>{{task.category}}</p>
        <p>------------------------</p>
    {%endfor%}
    
</body>
</html>